<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        http://symfony.com/schema/routing/routing-1.0.xsd">

    <route id="rockz_email_auth_authorization_authorize" controller="rockz_email_auth.controller.authorization_controller:authorize" path="/authorize/{authorizationHash}"/>
    <route id="rockz_email_auth_authorization_refuse" controller="rockz_email_auth.controller.authorization_controller:refuse" path="/refuse/{authorizationHash}"/>
</routes>