{% block body %}
    <h1>Refused login attempt</h1>

    <p>We refused an authentication attempt on your behalf.</p>

    <p>You did not request this login?</p>

    <ul>
        <li>Contact our support if you think someone else is trying to get access to your account!</li>
        <li>Well, you don't have many options anyway...</li>
    </ul>
{% endblock %}